<a href="https://colab.research.google.com/github/bakhtkhan123/Deep-Learning-BWF-BakhtUllah/blob/main/Task13/Series_and_Dataframe_with_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Series

In [ ]:
!pip install pandas

In [41]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [24]:
obj=pd.Series([2,4,-5,9])
print('\n',obj)
print('\n',obj.values)
print('\n',obj.index)

 0    2
1    4
2   -5
3    9
dtype: int64

 [ 2  4 -5  9]

 RangeIndex(start=0, stop=4, step=1)

In [33]:
obj2=pd.Series([2,6,3,8,1],index=['a','b','c','d','e'])
print('\n',obj2)
print('\n',obj2.index)
print('\n',obj2['c'])
obj2['c']=5

 a    2
b    6
c    3
d    8
e    1
dtype: int64

 Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

 3

In [37]:
obj2[['d','a','c']]

d    8
a    2
c    5
dtype: int64

In [38]:
obj2[obj2>=0]

a    2
b    6
c    5
d    8
e    1
dtype: int64

In [39]:
obj2*5

a    10
b    30
c    25
d    40
e     5
dtype: int64

In [42]:
np.exp(obj2)

a       7.389056
b     403.428793
c     148.413159
d    2980.957987
e       2.718282
dtype: float64

In [43]:
'b' in obj2

True

In [65]:
Series_data={'ohio':3500,'texes':12000,'oregon':16000,'utah':5000}
obj3=pd.Series(Series_data)
print('\n',obj3)

 ohio       3500
texes     12000
oregon    16000
utah       5000
dtype: int64

In [66]:
state=['california','ohio','oregon','texes']
obj4=pd.Series(Series_data,index=state)
obj4

california        NaN
ohio           3500.0
oregon        16000.0
texes         12000.0
dtype: float64

In [67]:
pd.isnull(obj4)

california     True
ohio          False
oregon        False
texes         False
dtype: bool

In [68]:
pd.notnull(obj4)

california    False
ohio           True
oregon         True
texes          True
dtype: bool

In [69]:
obj3

ohio       3500
texes     12000
oregon    16000
utah       5000
dtype: int64

In [70]:
obj4

california        NaN
ohio           3500.0
oregon        16000.0
texes         12000.0
dtype: float64

In [71]:
obj3 + obj4

california        NaN
ohio           7000.0
oregon        32000.0
texes         24000.0
utah              NaN
dtype: float64

In [72]:
obj4.name = 'popultaion'
obj4.index.name = 'state'

In [73]:
obj4

state
california        NaN
ohio           3500.0
oregon        16000.0
texes         12000.0
Name: popultaion, dtype: float64

In [74]:
obj
obj.index=['bob','jam','johns','alis']
obj

bob      2
jam      4
johns   -5
alis     9
dtype: int64

# DataFrame

In [75]:
data_dic={'state':['ohio','ohio','ohio','naveda','naveda','naveda'],
          'year':['2000','2001','2002','2001','2002','2003'],
          'pop':['1.5','3.2','5.1','2.9','1.3','4.4']}
frame=pd.DataFrame(data_dic)
print(frame)

    state  year  pop
0    ohio  2000  1.5
1    ohio  2001  3.2
2    ohio  2002  5.1
3  naveda  2001  2.9
4  naveda  2002  1.3
5  naveda  2003  4.4

In [76]:
frame.head()

    state  year  pop
0    ohio  2000  1.5
1    ohio  2001  3.2
2    ohio  2002  5.1
3  naveda  2001  2.9
4  naveda  2002  1.3

In [77]:
pd.DataFrame(data_dic,columns=['year','pop','state'])

   year  pop   state
0  2000  1.5    ohio
1  2001  3.2    ohio
2  2002  5.1    ohio
3  2001  2.9  naveda
4  2002  1.3  naveda
5  2003  4.4  naveda

In [79]:
frame2=pd.DataFrame(data_dic,columns=['year','pop','state','debt'],index=['one','two','three','four','five','six'])
frame2

       year  pop   state debt
one    2000  1.5    ohio  NaN
two    2001  3.2    ohio  NaN
three  2002  5.1    ohio  NaN
four   2001  2.9  naveda  NaN
five   2002  1.3  naveda  NaN
six    2003  4.4  naveda  NaN

In [80]:
frame2['state']

one        ohio
two        ohio
three      ohio
four     naveda
five     naveda
six      naveda
Name: state, dtype: object

In [81]:
frame2.year

one      2000
two      2001
three    2002
four     2001
five     2002
six      2003
Name: year, dtype: object

In [82]:
frame2.loc['three']

year     2002
pop       5.1
state    ohio
debt      NaN
Name: three, dtype: object

In [84]:
frame2['debt']=6.5
frame2

       year  pop   state  debt
one    2000  1.5    ohio   6.5
two    2001  3.2    ohio   6.5
three  2002  5.1    ohio   6.5
four   2001  2.9  naveda   6.5
five   2002  1.3  naveda   6.5
six    2003  4.4  naveda   6.5

In [86]:
frame2['debt']=np.arange(6.)
frame2

       year  pop   state  debt
one    2000  1.5    ohio   0.0
two    2001  3.2    ohio   1.0
three  2002  5.1    ohio   2.0
four   2001  2.9  naveda   3.0
five   2002  1.3  naveda   4.0
six    2003  4.4  naveda   5.0

In [87]:
val=pd.Series([1.3,-4.1,2.5],index=['two','four','six'])
frame2['debt']=val
frame2

       year  pop   state  debt
one    2000  1.5    ohio   NaN
two    2001  3.2    ohio   1.3
three  2002  5.1    ohio   NaN
four   2001  2.9  naveda  -4.1
five   2002  1.3  naveda   NaN
six    2003  4.4  naveda   2.5

In [93]:
frame2['estern'] = frame2.state=='ohio'
frame2

       year  pop   state  debt  estern
one    2000  1.5    ohio   NaN    True
two    2001  3.2    ohio   1.3    True
three  2002  5.1    ohio   NaN    True
four   2001  2.9  naveda  -4.1   False
five   2002  1.3  naveda   NaN   False
six    2003  4.4  naveda   2.5   False

In [94]:
del frame2['estern']
frame2.columns

Index(['year', 'pop', 'state', 'debt'], dtype='object')

In [96]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9},'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
frame3=pd.DataFrame(pop)
frame3

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5

In [97]:
frame3.T

        2001  2002  2000
Nevada   2.4   2.9   NaN
Ohio     1.7   3.6   1.5

In [98]:
pd.DataFrame(pop,index=['2001','2002','2000'])

      Nevada  Ohio
2001     NaN   NaN
2002     NaN   NaN
2000     NaN   NaN

In [101]:
pdata={'Ohio':frame3['Ohio'][:-1],
       'Nevada':frame3['Nevada'][:2]}
pd.DataFrame(pdata)

      Ohio  Nevada
2001   1.7     2.4
2002   3.6     2.9

In [103]:
frame3.index.name='year';frame3.columns.name='state'
frame3

state  Nevada  Ohio
year
2001      2.4   1.7
2002      2.9   3.6
2000      NaN   1.5

In [104]:
frame3.values

array([[2.4, 1.7],
       [2.9, 3.6],
       [nan, 1.5]])

In [107]:
frame2.values

array([['2000', '1.5', 'ohio', nan],
       ['2001', '3.2', 'ohio', 1.3],
       ['2002', '5.1', 'ohio', nan],
       ['2001', '2.9', 'naveda', -4.1],
       ['2002', '1.3', 'naveda', nan],
       ['2003', '4.4', 'naveda', 2.5]], dtype=object)