<a href="https://colab.research.google.com/github/bakhtkhan123/Deep-Learning-BWF-BakhtUllah/blob/main/Task14/loading_json_csv_excel_sql_data_with_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loading csv data with pandas

In [ ]:
import pandas as pd
import csv

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:

df=pd.read_csv('/content/drive/MyDrive/IRIS.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width          species
0           4.7          3.2           1.6          0.2      Iris-setosa
1           5.1          3.7           1.5          0.4      Iris-setosa
2           5.4          3.9           1.3          0.4      Iris-setosa
3           6.7          3.1           4.4          1.4  Iris-versicolor
4           4.6          3.1           1.5          0.2      Iris-setosa

In [ ]:
df.info

<bound method DataFrame.info of      sepal_length  sepal_width  petal_length  petal_width          species
0             4.7          3.2           1.6          0.2      Iris-setosa
1             5.1          3.7           1.5          0.4      Iris-setosa
2             5.4          3.9           1.3          0.4      Iris-setosa
3             6.7          3.1           4.4          1.4  Iris-versicolor
4             4.6          3.1           1.5          0.2      Iris-setosa
..            ...          ...           ...          ...              ...
145           7.7          3.8           6.7          2.2   Iris-virginica
146           5.1          2.5           3.0          1.1  Iris-versicolor
147           5.8          2.7           3.9          1.2  Iris-versicolor
148           7.2          3.6           6.1          2.5   Iris-virginica
149           5.0          3.4           1.6          0.4      Iris-setosa

[150 rows x 5 columns]>

# Loading json data with pandas

In [ ]:
json=pd.read_json("/content/sample1.json",typ='Series')

In [ ]:
json.head()

fruit    Apple
size     Large
color      Red
dtype: object

In [ ]:
json.info

<bound method Series.info of fruit    Apple
size     Large
color      Red
dtype: object>

# loading excel file with pandas

In [ ]:
df=pd.read_excel("/content/Excel file.xlsx")

In [ ]:
df.head()

   Sr/No Audio Name            Actual text  Speaker Recorded by
0      1    Audio_1              محتاط رہو      NaN       Sania
1      2    Audio_2             حد میں رہو      NaN       Sania
2      3    Audio_3          چھٹی کرو۔ جاؤ      NaN       Sania
3      4    Audio_4       وقت کے پابند بنو      NaN       Sania
4      5    Audio_5    باقاعدگی سے کام کرو      NaN       Sania

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Sr/No                   20 non-null     int64
 1   Audio Name              20 non-null     object
 2              Actual text  20 non-null     object
 3   Speaker                 0 non-null      float64
 4   Recorded by             20 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 928.0+ bytes

In [ ]:
df.describe()

          Sr/No  Speaker
count  20.00000      0.0
mean   10.50000      NaN
std     5.91608      NaN
min     1.00000      NaN
25%     5.75000      NaN
50%    10.50000      NaN
75%    15.25000      NaN
max    20.00000      NaN

# loading sql data with pandas

In [ ]:
import sqlite3
conn=sqlite3.connect('test_database')
c=conn.cursor()
c.execute('''CREATE TABLE IF NOT EXISTS product ([product_id] INTEGER PRIMARY KEY,[product_name]TEXT,[price]INTEGER)''')

c.execute(''' INSERT OR IGNORE INTO product (product_id, product_name,price)VALUES(1,'Computer',800),(2,'Printer',200),(3,'Tablet',300),(4,'Desk',450),(5,'Chair',150)''')
conn.commit()

In [ ]:
df=pd.read_sql_query('SELECT * from product',conn)

In [ ]:
df

   product_id product_name  price
0           1     Computer    800
1           2      Printer    200
2           3       Tablet    300
3           4         Desk    450
4           5        Chair    150

In [ ]:
df = pd.DataFrame(df, columns = ['product_id', 'product_name', 'price'])
print (df)

   product_id product_name  price
0           1     Computer    800
1           2      Printer    200
2           3       Tablet    300
3           4         Desk    450
4           5        Chair    150